html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // Styles
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
        link(href='/css/styles.css' rel="stylesheet" type="text/css")

        //JS
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
        title
            | general
    body
        .container
            .row
                .col-md-9
                    | 123 #{data}
                .col-md-3
                    form(method='post', action='/result')
                        input(type='text', name='kf', placeholder='Коэффициент')
                        |  Кф
                        input(type='text', name='period', placeholder='Период в месяцах') 
                        |  Период 
                        br
                        select(name='time')
                            option День
                            option Неделя
                            option Месяц
                        |  Тайм фрейм 
                        br
                        select(name='price')
                            option Закрытие
                            option Медиана
                        |  Цена 
                        br
                        textarea(name='tickers', rows='5', cols='15', placeholder='список тикеров')
                        br
                        button(type='input') Отправить